.gray-placeholder-input {
    padding: 6px;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;  
    margin-bottom: 10px;
    margin-top: 8px;
  }
  
  .gray-placeholder-input:focus {
    color: rgb(77, 77, 77); /* Cambia a negro cuando está enfocado */
  }
  .gray-placeholder-input:not([value=""]) {
    color: rgb(44, 44, 44); /* Cambia a negro cuando el valor no está vacío */
  }



/* marketPrice red YoNecesito */
.redYo {
  accent-color: red;
}

.blueYo {
  accent-color: #007bff;
}
