@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer/Edge */
}

*::-webkit-scrollbar {
  display: none; /* Safari y Chrome */
}

*::-webkit-scrollbar-track {
  display: none; /* Safari y Chrome */
}

*::-webkit-scrollbar-thumb {
  display: none; /* Safari y Chrome */
}

::-webkit-scrollbar-thumb:hover {
  display: none; /* Safari y Chrome */
}

body {
  color: rgb(var(--foreground-rgb));
  min-height: 100vh; /* Ajuste min-height en lugar de '100vh' */
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
}
 
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
  }


@font-face {
  font-family: 'Dawning of a New Day';
  src: url('./fonts/stlyes/DawningofaNewDay-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

.dawning-of-a-new-day-regular {
  font-family: 'Dawning of a New Day', cursive;
  font-weight: 400;
  font-style: normal;
}

/* global necesario  */
/* al redirigir el toast effecto parpadero gaming era :ED */
@keyframes glowBlue {
  0% {
      background-color: inherit;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4), 0 0 40px rgba(255, 255, 255, 0.2);
  }
  50% {
      background-color: #007bff; /* Dorado más ocre */
      box-shadow: none;
  }
  100% {
      background-color: inherit;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4), 0 0 40px rgba(255, 255, 255, 0.2);
  }
}

@keyframes glowRed {
  0% {
      background-color: inherit;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4), 0 0 40px rgba(255, 255, 255, 0.2);
  }
  50% {
      background-color: red; /* Dorado más ocre */
      box-shadow: none;
  }
  100% {
      background-color: inherit;
      box-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4), 0 0 40px rgba(255, 255, 255, 0.2);
  }
}

.blinkBlue {
  animation: glowBlue 2s infinite;
}
.blinkRed {
  animation: glowRed 2s infinite;
}

/* styles.css */
.message {
  font-size: 24px;
  color:  red;  
  font-family: Arial, sans-serif;
}
.focused {
  outline: none !important;
  border:1px solid red;
  box-shadow: 0 0 10px #db0000;
}